* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Arial Black", sans-serif, monospace;
}

.top-menu {
  padding: 50px 0;
  text-align: center;
}
.top-menu-link {
  text-decoration: none;
  color: rgb(22,160,133);
  font-size: 20px;
  display: inline-block;
  margin: 0 20px;
}
.top-picture{
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
.content{
  background-color: rgb(245,246,247);
  padding-top: 20px;
  padding-bottom: 20px;


}

.content-inside {
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

.content-title{
  font-size: 20px;
  color: #555555;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
.content-description{
  color: #555555;
  margin-bottom: 30px;
  text-align: center;
}
.content-button {
  color: rgb(255,255,255);
  width: 220px;
  height: 60px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(22,160,133);
  border: none;
  border-radius: 5px;
  margin-bottom: 120px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.copyright{
  text-align: right;
  padding: 20px;
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}
