.container {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  max-width: 100%;

}
.paralaxx:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -4px;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}
.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.text{
  font-family: 'Lato', sans-serif;
  color:  #4d4943;
  font-size: 17px;
}

.main-header{
  /*background-image: url("../img/bg1.jpg");*/
  background-repeat: no-repeat;
  padding-top: 530px;
  padding-left: 86px;
  background-size:cover;
  position: relative;
}
.bg1::after {
  background-image: url("../img/bg1.jpg");
}

.header-logo{
  text-transform: uppercase;
  font-size: 48px;
  color: white;
  display: block;
  margin-bottom: 16px;
  font-weight: 600;
}
.header-tagline{
  font-family: 'Lato', sans-serif;
  color:  #ffffff;
  font-size: 18px;
}
.main-header-caption{
  margin-top: 16px;
  padding-top: 48px;
  padding-bottom: 41px;
  font-size: 54px;
  text-transform: uppercase;
  display: flex;
}
.main-header-caption-left{
  width: 152px;
  height: 129px;
  background-color: white;
  padding: 40px 30px 42px 25px;
  box-sizing: border-box;
  margin-bottom: 145px;
  font-weight: 600;
  display: inline-block;

}
.main-header-caption-right{
  width: 680px;
  height: 129px;
  display: inline-block;
  background-color:  rgba(0, 0, 0, 0.3);
  padding: 40px 30px 42px 25px;
  box-sizing: border-box;
  font-weight: 600;
  border: 2px solid white;
}

.main-header-caption-left-text{
  color:  #f1ad1d;
}
.main-header-caption-right-text{
  color: white;
}


.title{
  text-align: center;
}
.title-section{
  padding: 157px 0 122px;
  background-color: #ffffff;

}


.subscribe-title{
  background-color: white;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  color: #303030;

}
.about-us-text{
  font-family: Lato sans-serif;
  font-size: 17px;
  color: #303030;
  margin-bottom: 52px;
}
.orange-line{
  border: none;
  color: #f1ad1d;
  background-color: #f1ad1d;
  height: 3px;
  width: 60px;
}
.orange-line-margin1{
  /*margin-bottom: 180px;*/
}
.orange-line-margin {
  /*margin-bottom: 58px;*/
}

.ideas{
  background-repeat: no-repeat;
  height: 380px;
  background-size:cover;
  padding-top: 150px;
  box-sizing: border-box;

  position: relative;


  /*background-position: center;*/
  /*!*background-attachment: fixed;*!*/
  /*translateZ(100px);*/
}
.bg2::after {
  background-image: url("../img/bg2.jpg");
}


.change-title{
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 60px;
  color: white;
  text-align: center;
}
.orange-text{
  color: #f1ad1d;
  display: inline-block;
}


.featured {
  /*background-image: url("../img/bg3.jpg");*/
  background-repeat: no-repeat;
  height: 475px;
  background-size:cover;
  padding-top: 150px;
  box-sizing: border-box;
  position: relative;
  /*background-position: center;*/
  /*background-attachment: fixed;*/
  /*translateZ(-100px);*/
}

.bg3::after {
  background-image: url("../img/bg3.jpg");
}


.featured-logo{
  align-items: baseline;
  display: flex;
  justify-content: space-evenly;
}
.featured-logo1{
  background-image: url("../img/Layer 18.png");
  background-repeat: no-repeat;
  width: 207px;
  height: 28px;
  padding-top: 10px;

}
.featured-logo2{
  background-image: url("../img/logo-8.png");
  background-repeat: no-repeat;
  width: 135px;
  height: 49px;
}
.featured-logo3{
  background-image: url("../img/Layer 17.png");
  background-repeat: no-repeat;
  width: 172px;
  height: 42px;
  padding-top: 10px;
}
.featured-logo4{
  background-image: url("../img/logo-3.png");
  background-repeat: no-repeat;
  width: 172px;
  height: 42px;
  padding-top: 10px;
}

.said{
  background-image: url("../img/bg4.jpg");
  background-repeat: no-repeat;
  height: 485px;
  background-size:cover;
  padding-top: 150px;
  box-sizing: border-box;
  position: relative;
  /*background-position: center;*/
  /*background-attachment: fixed;*/
}
.bg4::after {
  background-image: url("../img/bg4.jpg");
}


.said-text-blok{
  font-family: OpenSans sans-serif;
  font-size: 18px;
  color: #303030;
  margin-bottom: 52px;
  text-align: center;
}
.said-text{
  color:  #ffffff;
  font-family: 'Lato', sans-serif;
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}






