.container {
  margin: 0 auto;
  text-align: center;
  width: 500px;
  max-width: 100%;
}
#hidden {
  display: none;
}
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 200px;
  padding: 15px 60px 15px 60px;
}
input {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
}
.area {
  border: 1px solid rgb(196, 196, 196);
}
.btn {
  border: 1px solid rgb(196, 196, 196);
  padding: 10px;
  border-radius: 5px;
  outline: none;
}
.btn:active {
  border: 1px solid rgb(196, 196, 196);
  background-color: rgba(92, 87, 87, 0.47);
}
.temp-button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  padding: 15px 80px 15px 80px;
}
.main-btn {
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  outline: none;
  text-align: center;
}
.main-btn:active {
  border: 1px solid rgb(196, 196, 196);
  background-color: rgba(92, 87, 87, 0.47);
}
.forRound {
  margin-top: 40px;
}
