.container{
  background-color: #cccccc;
  padding: 30px;

}

.logo{
  height: 57px;
  width: 200px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeatgit stats;
  background-size: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
.value_titel{
  font-size: 22px;
  font-weight: 600;
  color: #0c1927;
  line-height: 40px;
}
p{
  line-height: 40px;
  /*font-size: 18px;*/
}
.value_box_print, .value_box_lamination{
  width: 50px;
}
