body{
  background: url("../jpeg/Journey_Hover.jpg") no-repeat;
  font-family: 'Muli', sans-serif;
  background-size: cover;
  position: relative;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.header-container {
  background-color: rgba(0, 0, 0, 0.5);
}
.header-content{
  box-sizing:border-box;
  padding: 17px 85px;
  display: flex;
  justify-content: space-between;
}
/*.header{*/
  /*!*background-color: rgba(0, 0, 0, 0.5);*!*/
  /*!*width: 1366px;*!*/
  /*!*height: 54px;*!*/
  /*box-sizing:border-box;*/
  /*position: absolute;*/
  /*padding: 17px 85px;*/
  /*display: flex;*/
  /*justify-content: space-between;*/
/*}*/

.header-left {
  /*display: flex;*/
  /*width: 48%;*/
}
.header-right{
  /*justify-content: flex-end;*/
  /*width: 48%;*/
}

.header-right-links{
  font-size: 14px;
  color: white;
  /*justify-content: flex-end;*/
}

.header-logo{
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  color: white;
  /*justify-content: flex-start;*/
}
.header-icons{

}
.header-login{
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.header-login-welcome{
  display: inline-block;
  color:  #ffffff;
  font-size: 14px;
}
.header-login-link {
  text-decoration: none;
  color: #3aba78;
  padding-left: 10px;
}
.header-login-link:hover {
  text-decoration: underline;
 }
.header-logo:hover {
  color: #3aba78;
}

.header-login-icons{
 display: inline-block;
}
.header-login-icon{
  display: inline-block;
  margin-left: 28px;
  text-decoration: none;
  background-image: url('../jpeg/css_sprites.png');
}
.header-login-icon-caledar{
  width: 19px;
  height: 19px;
  background-position: -19px -76px;
  transition: .5s;
}
.header-login-icon-caledar:hover{
  background-position: -19px -19px;
}
.header-login-icon-forum{
  width: 28px;
  height: 20px;
  background-position: -19px -191px;
  transition: .5s;
}
.header-login-icon-forum:hover{
 background-position: -19px -133px;
}
.header-login-icon-journey{
  width: 20px;
  height: 20px;
  background-position: -19px -307px;
  transition: .5s;
}
.header-login-icon-journey:hover{
  background-position: -19px -249px;
}


.header-login-line{
  margin-left: 24px;
  margin-right: 24px;
  display: inline-block;
  border-left: #3aba78 1px solid;
  width: 1px;
  height: 19px;
  position: relative;
}


.block {
  justify-content: center;
  align-items: center;
  display: flex;
  height: calc(100vh - 56px);

}

.info-block {
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
  width: 444px;
  height: 640px;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 29px 65px 32px 60px;
  position: relative;
}

.info-block-description {
  display: flex;
  justify-content: space-between;
  }
.info-block-description-left{
  /*position: absolute;*/
}

.info-block-description-left-green-sqwer{
  /*display: inline-block;*/
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  position: absolute;
  left: 0;
}
.description-left {
  font-size: 20px;
  margin-bottom: 15px;
}
.description-right{
  font-size: 14px;
  color: #3aba78;
  text-decoration: none;
}
.description-right:hover{
text-decoration: underline;
 }


.loginBtn {
  box-sizing: border-box;
  position: relative;
  padding: 0 17px 0 66px;
  border: none;
  /*text-align: left;*/
  line-height: 34px;
  white-space: nowrap;
  font-size: 16px;
  color: white;
  border-radius: 3px;
  background-color:  #305db8;
  width: 157px;
  height: 46px;
  margin-bottom: 33px;

}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn-facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn-facebook:before {
  border-right:#364e92 1px solid;
  height: 26px;
  margin-top: 10px;
  margin-left: 6px;
  /*border-widt: 28px;*/
  background: url('../jpeg/facebook1.png') 6px 6px no-repeat;
  background-position: 10px 2px;
}
.loginBtn-facebook:hover,
.loginBtn-facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn-google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn-google:before {
  border-right: #BB3F30 1px solid;
  height: 26px;
  margin-top: 10px;
  margin-left: 6px;
  background: url('../jpeg/G+.png') 6px 6px no-repeat;
  background-position: 3px 4px;
}
.loginBtn-google:hover,
.loginBtn-google:focus {
  background: #E74B37;
  outline: none;
}

.info-block-line{
  display: flex;
  justify-content: space-between;
}

.info-block-line-grey{
  border-bottom: #eaeaea 1px solid;
  width: 135px;
  height: 1px;
  position: relative;
  top: 6px;
}
.info-block-line-text{
  font-size: 14px;
  margin-bottom: 18px;
  color: #858585;
}




.block-form {
  border-radius: 3px;
  background-color: white;
  border: 2px solid #ebebeb;
  width: 319px;
  height: 46px;
  margin-bottom: 12px;
  padding-left: 15px;
  font-size: 15px;
  box-sizing: border-box;
}

.block-form:active, .block-form:focus {
  box-shadow: 2px 5px 10px 1px rgb(219, 219, 219);
  border-color: #eaeaea;
}

/*.block-form-checkbox{*/
  /*border:2px dotted #00f;*/
  /*display: inline-block;*/
  /*position: relative;*/
  /*top: 2px;*/
  /*width: 15px;*/
  /*height: 15px;*/
/*}*/


label {
  display: inline-block;
}
/*убираем input*/
.regular-checkbox {
  display: none;
}
/*задаем параметры для нового объекта который поверх input*/
.regular-checkbox + label {
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}
/*при клике делаем действие*/
/*.regular-checkbox + label:active, .regular-checkbox:checked + label:active {*/
  /*box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);*/
/*}*/

.regular-checkbox:checked + label {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 17px;
  position: absolute;
  top: 0;
  left: 3px;
  color: #3aba78;
}

.checkbox-container{
  display: flex;
  align-items: center;
}


.block-form-checkbox-text{
  font-size: 14px;
  text-align: left;
  margin-left: 10px;
}
.Terms-Conditions{
  color:  #3cb878;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
}
.Terms-Conditions:hover{
text-decoration: underline;
}


.block-form-btn{
  display: block;
  width: 319px;
  height: 46px;
  margin-top: 22px;
  background-color: #3aba78;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid #3aba78;
  transition: .5s;
  padding: 14px 0;
  text-align: center;
  box-sizing: border-box;
}



.block-form-btn:hover{
    background-color: #2f9b65;
}








