body
{
  font-family: Arial;
  font-size: 10pt;
}
#scrollToTop, #scrollToBottom
{
  cursor:pointer;
  background-color:#0090CB;
  display:inline-block;
  height:40px;
  width:40px;
  color:#fff;
  font-size:16pt;
  text-align:center;
  text-decoration:none;
  line-height:40px;
}
