.container {
  width: 1190px;
  margin: 0 auto;
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  background-color:  rgba(73, 71, 63, 0.6);
  padding-top: 25px;
  padding-bottom: 28px;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  z-index: 5;

}
.menu-top-item {
  display: inline-block;
}

.menu-top-link::after {
  content: '';
  width: 100%;
  border-top: 2px #18cfab solid;
  position: absolute;
  top: 68px;
  left: 0;
  opacity: 0;
}

.menu-top-link:hover::after {
  opacity: 1;
}

.menu-top-link {
  margin-right: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color:  #b8b8b8;
  font-size: 13px;
  font-weight: 700;
  display: inline-block;
  position: relative;
}
.menu-top-link:hover {
  color:  #18cfab;
}
.menu-top-left{
  display: flex;
  align-items: center;
}
.navbar-search {
  display: none;
}
.navbar-logo-link {
  text-decoration: none;
}


.navbar-logo-img {
  width: 58px;
  height: 67px;
  font-family: 'Montserrat', sans-serif;
  color:  #ffffff;
  font-size: 40px;
  font-weight: 700;
  display: block;
  text-align: center;

}
.navbar-logo-text{
  flex-wrap: wrap;
  font-size: 32px;
  color:  #ffffff;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
}
.navbar-logo{
  text-decoration: none;
  max-width: 320px;
}

.navbar-logo-text-green {
  color: #18cfab;
  font-weight: 700;
}

.main-header{
  font-family: 'Montserrat', sans-serif;
  background: url("../img/bg1.jpg") no-repeat center;
  background-size:cover;
  position: relative;
  display: block;

  padding: 20px;
  color: #fff;
}
.main-header::after {
  content: '';
  position: absolute; /* Абсолютное позиционирование */
  left: 20px; bottom: -20px; /* Положение треугольника */
  /*border: 10px solid transparent; !* Прозрачные границы *!*/
  border-top: 10px solid green; /* Добавляем треугольник */
}

















.main-header-top{
  color:  #ffffff;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;
  padding-top: 220px;
}
.main-header-top-green{

  color:  #18cfab;
}
.main-header-h2{
  color:  #ffffff;
  font-size: 79px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 37px;
}

.main-header-botem{
  color:  #d4d4d4;
  font-size: 34px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 146px;
}

.main-header-btn{
  display: flex;
  justify-content: center;
}

