.container{
  padding: 60px 100px 40px 100px;
  width: 1280px;
  height: 1480px;
}
.top_link_clk{
  font-size: 80px;
  font-family: "Myriad Pro", sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.top-link{
  font-size: 80px;
  font-family: "Myriad Pro", sans-serif;
  text-decoration: none;
  color: rgb(73, 203, 255);
  margin-bottom: 45px;
}
.header{
  background-color:  #35444f;
  width: 1180px;
  padding: 26px 26px 26px 121px;
  margin-bottom: 51px;
  /*display: inline-block;*/
  }
.top-menu-link{
  text-align: center;
  font-family: "Myriad Pro", sans-serif;
  text-decoration: none;
  color: rgb(255,255, 255);
  font-size: 24px;
  margin-left: 44px;
  margin-right: 44px;
}
.top-clk{
  /*height: 79px;*/
  /*width: 100px;*/
  /*background: rgb(34, 47, 58);*/
  /*text-align: left;*/
}
.menu{
  float: left;
  width: 344px;
  height: 399px;
  border: 1px solid rgb(50, 66, 78);
  padding-bottom: 20px;
}
.menu1{
  height: 79px;
  background-color: rgb(220, 220, 220);
  text-align: left;
}
.left-menu-link{
  font-family: "Myriad Pro", sans-serif;
  font-size: 27px;
  color: rgb(70, 87, 99);
  padding-left: 34px;
  padding-top: 30px;
  padding-bottom: 28px;
}
.clk{
  color: rgb(0, 0, 0);
  margin-left: 69px;
}
.body{
  float: right;
  background-color: rgb(255,255, 255);
  width: 840px;
  margin-bottom: 50px;
}
.body-text{
  font-family: "Myriad Pro", sans-serif;
  color:  #2c2b2b;
  font-size: 18px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.futer-body{
  width: 1280px;
  height: auto;
  float: right;
}
.futer{
  background-color:  rgb(181, 184, 187);
  width: 1280px;
  margin-bottom: 51px;

}
.futer-menu-link{
  display: inline;
  text-align: left;
  font-family: "Myriad Pro", sans-serif;
  text-decoration: none;
  margin-left: 35px;
  margin-right: 10px;
  padding: 0;
  color: #0c1927;
  font-size: 24px;
  line-height: 69px;

}
.copy{
  margin-left: 220px;
}

.link{
  color:  #3181a6;
  font-size: 24px;
  font-weight: 400;
  line-height: 90px;
  text-align: left;
  text-decoration: underline;
}

background: #fd0; /* Цвет фона */
  border: 1px solid black; /* Параметры рамки */
  padding: 10px; /* Поля вокруг текста */
  margin-right: 20px; /* Отступ справа */
  width: 60%; /* Ширина блока */
}
