.container{
  width: 1250px;
  margin: 0 auto;

}

.main-header{
  background-color: rgb(246, 242, 242);
  margin-bottom:
}
.main-menu{
  background-color: rgb(45, 44, 44);
  text-align: center;
  margin-bottom: 108px;
}
.main-menu__option{
  display: inline-block;
}
.main-menu__link{
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: OpenSans, sans-serif;
  padding: 36px 24px;
  transition: background-color 1s;
}
.main-menu__link:hover {
  background-color: rgb(255, 61, 62);
}

.main-section__left {
  width: 46%;
  float: left;
}

.main-section__right {
  width: 46%;
  float: right;
}

.main-title {
  font-family: OpenSans, sans-serif;
  color: #000000;
  font-size: 60px;/* Approximation due to font substitution */
  font-weight: 700;
  /*line-height: 72px;*/
  text-transform: uppercase;
  margin-bottom: 36px;
}

.main-header__description {
  font-family: OpenSans,sans-serif;
  color:  #a6a3a3;
  font-size: 16px;/* Approximation due to font substitution */
  line-height: 25px;
  margin-bottom: 58px;
}

.btn {
  border-radius: 4px;
  text-decoration: none;
  font-size: 18px;
  padding: 20px 63px;
  display: inline-block;
  font-family: OpenSans, sans-serif;
  letter-spacing: 1px;
}
.btn-red {
  background-color: #ff2929;
  color: white;
  border: 1px solid #ff2929;
  transition: .5s;
}

.btn-red:hover {
  background-color: white;
  color: #ff2929;
  border: 1px solid #ff2929;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.services {
  box-sizing: border-box;
  padding: 115px 0;
}
.service-info {
  float: left;
  width: 45%;
}
.services-list {
  width: 45%;
  float: right;
}
.btn-white {
  background-color: white;
  color: #ff2929;
  border: 1px solid #ff2929;
  transition: .5s;
}
.btn-white:hover {
  background-color: #ff2929;
  color: white;
}
.section-title {
  font-family: OpenSans, sans-serif;
  color:  rgba(0, 0, 0, 0.7);
  font-size: 42px;
  font-weight: 700;
  line-height: 55.283px;
  margin-bottom: 50px;
}
.section-description {
  font-family: OpenSans, sans-serif;
  color:  rgba(0, 0, 0, 0.7);
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 58px;
}
.service-item-name {
  font-family: OpenSans, sans-serif;
  color:  rgba(0, 0, 0, 0.7);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 17px;
}
.service-item {
  width: 40%;
  float: left;
  margin-right: 50px;
}

.services-list .fas, .services-list .far {
  display: inline-block;
  color:  #ff3b4a;
  font-size: 50px;
  margin-bottom: 40px;
}
red line{
}
