/*table {*/
  /*border-collapse: collapse;*/
/*}*/

/*td,*/
/*th {*/
  /*border: 1px solid black;*/
  /*padding: 3px;*/
  /*text-align: center;*/
/*}*/

/*th {*/
  /*font-weight: bold;*/
  /*background-color: #E6E6E6;*/
/*}*/


.calendar th {
  border: 1px solid black;
  background-color: grey;
text-align: center;
}
.calendar td {
  border: 1px solid black;
  text-align: center;
}
.calendar {
  border-collapse: collapse;
}
