.container{
  padding: 60px 100px 40px 100px;
  width: 1280px;
  font-family: "Myriad Pro", sans-serif;
}



.logo{
  font-size: 80px;
  font-family: "Myriad Pro", sans-serif;
  color: rgb(0, 0, 0);
  margin-bottom: 41px;
  text-decoration: none;
}

.blu-logo{
  font-size: 80px;
  text-decoration: none;
  color: rgb(73, 203, 255)
}

.top-menu{
  background-color: #35444f;
  margin-bottom: 51px;
  text-align: center;
}
.top-menu-option{
  display: inline-block;

}
.top-menu-link{
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  padding: 26px 41px;
}
.top-menu-link:hover{
  background-color: #222f3a;
  border-color: white;
  border-style: solid;
  border-width: 0 1px;
}


.menu{
  float: left;
  width: 28%;
  border: 1px solid rgb(50, 66, 78);
}
.left-menu{
  font-size: 27px;
  color: #32424e;
}
.left-menu-link{
  color: #32424e;
  font-size: 27px;
  text-decoration: none;
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 28px;
  padding-left: 44px;
}
.left-menu-link:hover{
  color: #000000;
  padding-left: 70px;
  /*font-weight: bold;*/
}
.left-menu-option:hover{
  background-color: #dcdcdc;
}

.content{
  float: right;
  width: 69%;
}
.content-text{
  color:  #282828;
  font-size: 18px;
  text-align: left;
  line-height: 22px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}


.fut{
  float: none;
  clear: right;
}
.fut-menu{
  display: inline-block;
  background-color: #b5b8bb;
  margin-bottom: 51px;
  width: 1280px;
}
.fur-menu-option{
  display: inline-block;
}
.fut-menu-link{
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin-left: 22px;
  font-size: 28px;
  line-height: 69px;
  color: #000000;
}
.copy{
  font-size: 24px;
  margin-left: 195px;
  display: inline-block;
}
.fut-menu-link:hover{
  color: #2e82a7;
  text-decoration: underline;
}






