
.container{
  width: 1200px;
  margin: 0 auto;
  padding: 25px;
  background-color: #374765;
}
.pricing-plan {
  font-family: 'Arimo', sans-serif;
  color: #464646;
  background-color: #fafafa;
  text-align: center;
}

.pricing-plan-tab{
  border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
  width: 100%;

}
th, td {
  border-right: 2px solid #d8d8d8;
  vertical-align: middle;
}
th, td:last-child {
  border-right: 0;
}

.header-pricing-plan-cell{
  width: 277px;
  height: 71px;
  border: 0;
  font-size: 24px;
  color: #464646;
  text-transform: uppercase;
  font-weight: 700;
}
.header-pricing-plan-right-border{
  border-right: 2px solid #d8d8d8;

}

.header-pricing-plan-top{
  font-size: 18px;
  display: block;
}
.header-pricing-plan-botom{
  font-weight: 600;
}


.header-pricing-plan-green:hover {
  font-size: 30px;
}
.header-pricing-plan-red:hover {
  font-size: 30px;
}
.header-pricing-plan-gray:hover {
  font-size: 30px;
}


.header-pricing-plan-green {
  background-color: #8ac42d;
  color: white;
}
.header-pricing-plan-red{
  background-color: #f04955;
  color: white;
}
.header-pricing-plan-gray{
  background-color: #1a817d;
  color: white;
}
.pricing-plan-dollar{
  font-size: 60px;
  color: #464646;
  font-weight: 600;
}
.pricing-plan-cent{
  font-size: 24px;
  color: #464646;
  font-weight: 600;
  position: absolute;
  top: 107px;
}


.background-color-dark{
  background-color: #e4e4e4;
}
.background-color-light{
  background-color: #f2f2f2;
}

.pricing-plan-options{
  width: 277px;
  height: 71px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.pricing-plan-options:first-child{
  width: 310px;

}
.fas, .far {
  color: #858585;
  font-size: 24px;
}

.pricing-plan-btn{
  justify-content: center;
  align-items: center;
  display: flex;

  box-sizing: border-box;
  border-radius: 5px;
  width: 192px;
  height: 49px;
  color: white;

  margin-left: 50px;
  /*padding: 10px 10px;*/
  /*text-transform: uppercase;*/
  text-decoration: none;
  /*flex: auto;*/
}
.pricing-plan-btn-line{
  height: 110px;
}
.pricing-plan-btn-black{
  background-color: #484848;
  box-shadow: 0 -7px #3e3e3e inset;
  /*transition: 0.2s;*/
}
.pricing-plan-btn-green{
  background-color: #8ac42d;
  box-shadow: 0 -7px #7ab122 inset;
}
.pricing-plan-btn-red{
  background-color: #f04955;
  box-shadow: 0 -7px #e03744 inset;
}
.pricing-plan-btn-grey{
  background-color: #1a817d;
  box-shadow: 0 -7px #0e746f inset;
}

td:hover{
  background-color: #dedede;
}

.pricing-plan-btn-black:hover,
.pricing-plan-btn-green:hover,
.pricing-plan-btn-red:hover,
.pricing-plan-btn-grey:hover{
  background-color: #f2f2f2;
  box-shadow: 0 -7px #e4e4e4 inset;
}




