.background-image{
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: inline-block;
  font-family: Verdana sans-serif;

}
body{
  width: 1470px;
  /*box-sizing:border-box;*/
}
.container{
  background-image: url("../jpeg/Milan_Holidays.jpg");
  background-repeat: no-repeat;
  padding: 49px 150px;
  margin: 0;
  width: 1350px;
  /*height: 768px;*/
  box-sizing:border-box;
  /*position: relative;*/
  /*display: inline-block;*/
}

.logo_orange{
  opacity: 0;
}
.logo_orange:hover{
  opacity: 1;
  transition: 1s;
}
.header{
  display: inline-block;
  width: 100%;
  margin-bottom: 48px;
}
.logo_orange{
  position: absolute;
  top: 49px;
  /*transform: translate(-50%, -50%);*/
}
.logo{
  float: left;
}
.header-contacts-text{
  color:  #ffffff;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  padding-top: 6px;
  /*display: flex;*/
  /*justify-content: flex-end;*/
  /*float: right;*/
}
.content-container{
  width: 307px;
  margin-right: 60px;
  float: left;
  display: inline-block;

}
.content-container:last-child {
   margin-right: 0;
 }
.content-img{
  display: inline-block;
  border: 2px solid transparent;
  border-image: linear-gradient(to top, transparent 0%, #ADF2F7 100%);
  border-image-slice: 1;
}
.content-img:last-child {
  margin-right: 0;
}

.clearfix::after {
   content: "";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

.pic-img{
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  width: 307px;
  height: 200px;
  position: relative;
  float: left;
  margin-right: 69px;
  margin-bottom: 22px;
}
.content-link{
  width: 307px;
  height: 63px;
  box-sizing:border-box;
  background-color: #f26522;
  color: white;
  padding: 16px 21px;
  display: flex;
  position: absolute;
  bottom: 125px;
  opacity: 0;

}
.content-link:hover{
  opacity: 1;
  transition: 1s;
}


.link-bottom{
  bottom: 558px;
}
.link-bottom_2{
  bottom: 253px;
}


.content-link-top-left{
  font-size: 10px;
  /*display: flex;*/
  /*flex-direction: column;*/
}
.content-link-left{
  font-size: 20px;
  line-height: 1.2;
  /*display: flex;*/
  /*flex-direction: column;*/
  text-align: left;

}
.content-link-right{
  display: inline-block;
  font-size: 14px;
  color: white;
  text-decoration: none;
  margin-left: 145px;
  margin-top: 14px;
}
/*.content-link-righ-mg{*/
  /*margin-left: 145px;*/
  /*margin-top: 14px;*/
/*}*/

.content-title{
  width: 100%;
  color: white;
  font-size: 18px;
  text-align: center;
  margin-bottom: 58px;
}
.content-title:hover{
  color: #f26522;
  transition: 1s;
}

.copy {
  color: white;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
}





}
