﻿@font-face {
  font-family: 'FiraSans-Bold';
  src: url('../fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/FiraSans-Bold.woff') format('woff'), url('../fonts/FiraSans-Bold.ttf')  format('truetype'), url('../fonts/FiraSans-Bold.svg#FiraSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-SemiBold';
  src: url('../fonts/FiraSans-SemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/FiraSans-SemiBold.woff') format('woff'), url('../fonts/FiraSans-SemiBold.ttf')  format('truetype'), url('../fonts/FiraSans-SemiBold.svg#FiraSans-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Light';
  src: url('../fonts/FiraSans-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/FiraSans-Light.woff') format('woff'), url('../fonts/FiraSans-Light.ttf')  format('truetype'), url('../fonts/FiraSans-Light.svg#FiraSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Regular';
  src: url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/FiraSans-Regular.woff') format('woff'), url('../fonts/FiraSans-Regular.ttf')  format('truetype'), url('../fonts/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Medium';
  src: url('../fonts/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/FiraSans-Medium.woff') format('woff'), url('../fonts/FiraSans-Medium.ttf')  format('truetype'), url('../fonts/FiraSans-Medium.svg#FiraSans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'FiraSans-Italic';
  src: url('../fonts/FiraSans-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/FiraSans-Italic.woff') format('woff'), url('../fonts/FiraSans-Italic.ttf')  format('truetype'), url('../fonts/FiraSans-Italic.svg#FiraSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


body.open {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
}

.click-m {
    display: none;
}

input:invalid {
    box-shadow: none;
}

body {
		margin: 0;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.2;
		-ms-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		color: #211d26;
		/* background: url(../images/body.jpg) repeat-y top; */
		font-family: 'FiraSans-Bold';
		background: url(../images/bg.jpg) repeat-y top;
		color: #fff;
}
*, :before, :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(128, 128, 128, 0.4);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(128, 128, 128, 0.4);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(128, 128, 128, 0.4);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(128, 128, 128, 0.4);
}

.grInp {
    color: rgba(128, 128, 128, 0.4) !important;
}


.blInp {
    color: black !important;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,h2,h3,h4,h5,h6, p {
	margin: 0;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #000;
}

body, html {
	/* overflow-x: hidden; */
}



input.error {
    border-bottom: 2px solid #F44336 !important;
}

#map {
	height: 607px;
	width: 100%;
}

.container {width: 1170px;margin: 0 auto;position:  relative;z-index: 9;}


.main {
	height: 920px;
	background: url(../images/main.jpg) no-repeat top;
	padding-top: 18px;
}

header {
    margin-bottom: 38px;
}
.header-left {
    float:  left;
    margin-top: 4px;
}
.header-info.i1:before {
	content: '';
	display: block;
	width: 83px;
	height: 83px;
	background: url(../images/h-1.png);
	position: absolute;
	left: 0;
	top: -46px;
}
.header-info.i2:before {
	content: '';
	display: block;
	width: 83px;
	height: 83px;
	background: url(../images/h-2.png);
	position: absolute;
	left: 0;
	top: -46px;
}
.header-info:last-of-type {
	margin: 0;
}
.header-info {
    float:  left;
    margin-right: 63px;
    position:  relative;
    padding-left: 81px;
    font-size: 17px;
}
.header-info p {
    text-transform:  uppercase;
    font-family: 'FiraSans-SemiBold';
}
.header-info span {font-family: 'FiraSans-Light';}
.header-right {
    float:  right;
    text-align:  right;
}
.header-right .phone {
    font-size: 20px;
    color: #fff;
    font-family: 'FiraSans-SemiBold';
}
.header-right p {font-size: 17px;font-family: 'FiraSans-Light';}

.main-wrap {
    padding-left: 467px;
}
.main-wrap .box:after {
	content: '';
	display: block;
	width: 186px;
	height: 65px;
	background: url(../images/arrow.png);
	position: absolute;
	right: -92px;
	bottom: -11px;
}
.main-wrap .box {
    width: 490px;
    height:  175px;
    background:  url(../images/main-wrap.png);
    padding: 15px 10px 10px 63px;
    position:  relative;
    margin-bottom: 17px;
}
.main-wrap .box .name {
    font-size:  72px;
    text-transform:  uppercase;
    line-height:  1;
    margin-bottom: 22px;
}
.main-wrap .box p {
    font-family: 'FiraSans-Regular';
    font-size: 22px;
}
.main-wrap ul {
    padding-left: 213px;
}
.main-wrap ul li:before {
	content: '';
	display: block;
	width: 48px;
	height: 48px;
	background: url(../images/li.png);
	position: absolute;
	left: 0;
	top: -13px;
}
.main-wrap ul li {
    font-family: 'FiraSans-Regular';
    font-size:  20px;
    position:  relative;
    padding-left:  45px;
    margin-bottom: 26px;
}
.main-wrap h1 {
    font-size:  180px;
    text-transform:  uppercase;
    line-height: 1;
    margin-left: 127px;
}
.main-wrap h2 {
    font-size:  22px;
    font-family: 'FiraSans-Regular';
    margin-bottom: 39px;
    padding-left: 135px;
}


.timer {
    display: flex;
    margin-bottom: 44px;
}
.timer-item:last-of-type {
	margin: 0;
}
.timer-item:last-of-type:after {
	display: none;
}
.timer-item:after {
	content: ':';
	position: absolute;
	right: -15px;
	top: -5px;
	font-size: 72px;
	line-height: 1;
	font-family: 'FiraSans-Regular';
}
.timer-item {
    text-align:  center;
    display:  inline-block;
    position:  relative;
    margin-right: 38px;
    margin-right: 22px;
}
.timer-item .number {
    font-size: 72px;
    line-height:  1;
    width: 99px;
    font-family: 'FiraSans-Regular';
}
.timer-item span {font-family: 'FiraSans-Regular';font-size: 14px;}
.btn:active {
	background: #C70D14;
}
.btn:hover {
	box-shadow: none;
}
.btn {
    font-size: 18px;
    color: #fff;
    text-align: center;
    display: block;
    height: 85px;
    line-height: 85px;
    background: #ED1C24;
    width: 100%;
    border: 0;
    cursor: pointer;
    outline: none;
    transition: all .5s;
    -webkit-appearance: none;
    text-transform: uppercase;
    box-shadow: 0 10px 15px rgba(242, 30, 45, 0.46);
    position: relative;
    font-family: 'FiraSans-Bold';
}
.action:before {
	content: '';
	display: block;
	width: 1209px;
	height: 1813px;
	background: url(../images/action-bg.png);
	position: absolute;
	left: -190px;
	top: -861px;
}
.action {
    padding-top:  80px;
    padding-bottom: 80px;
    position:  relative;
}
.action-wrap {}
.action .left {
    float:  left;
    width:  calc(100% - 670px);
    padding-right: 35px;
}
.action h2:after {
	content: '';
	display: block;
	width: 96px;
	height: 17px;
	background: url(../images/action-line.png);
	position: absolute;
	left: -41px;
	bottom: 0;
}
.action h2 {
    font-size:  90px;
    text-transform:  uppercase;
    line-height: .9;
    position:  relative;
    margin-bottom: 25px;
    padding-bottom: 34px;
}
.action .left p {
    font-family: 'FiraSans-Light';
    font-size: 22px;
}
.action .right:before {
	content: '';
	display: block;
	width: 650px;
	height: 582px;
	background: url(../images/border.png);
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 0;
}
.action .right:after {
	content: '';
	display: block;
	width: 2017px;
	height: 1819px;
	background: url(../images/action-form.png);
	position: absolute;
	left: -600px;
	top: -400px;
	z-index: -1;
}
.action .right {
    float:  left;
    width: 670px;
    background: #222233;
    padding: 56px 60px 40px;
    position:  relative;
    height: 610px;
    margin-top: -52px;
}
.action .right p {}
.action h3 {
    font-size:  34px;
    margin-bottom: 71px;
}
.action h4 {
    font-family: 'FiraSans-Regular';
    font-size:  18px;
    margin-bottom: 12px;
    text-transform:  uppercase;
}
.action .btn {
    max-width: 300px;
}

.dream {
    padding-top: 22px;
}
.title {
    font-size:  60px;
    text-transform:  uppercase;
}
.dream .title {
    margin-bottom: 61px;
}
.dream-wrap {
    padding-left: 34px;
}
.dream-wrap p:before {
	content: '';
	display: block;
	width: 111px;
	height: 75px;
	background: url(../images/dream.png);
	position: absolute;
	left: -33px;
	top: -10px;
	z-index: -1;
}
.dream-wrap p {
    width: 33.333%;
    float: left;
    margin-bottom: 94px;
    position:  relative;
    z-index: 1;
    font-family: 'FiraSans-Regular';
    font-size: 20px;
}
.dream-wrap p:nth-of-type(4){
	clear: both;
}

.why {
    height:  1009px;
    background:  url(../images/why.png) no-repeat top;
    padding-top: 162px;
    margin-top: -22px;
}
.why .title {
    margin-bottom: 23px;
}
.why h3 {
    font-family: 'FiraSans-Regular';
    font-size:  28px;
    margin-bottom: 63px;
}
.why h4 {
    font-size:  24px;
    text-transform:  uppercase;
    margin-bottom: 27px;
}
.why h5 {
    position:  absolute;
    transform: rotate(-90deg);
    left: -70px;
    top: 110px;
    font-size:  24px;
    color: #36364b;
    font-family: 'FiraSans-Medium';
}
.why-wrap {}
.why-item:last-of-type {
	margin: 0;
}
.why-item {
	width: 370px;
	height: 377px;
	background: url(../images/why-item.png);
	float:  left;
	margin-right: 30px;
	position:  relative;
	padding: 38px 39px 10px;
}
.why-item p {
    font-family: 'FiraSans-Light';
    font-size: 17px;
}

.proof {
    height:  487px;
    background:  url(../images/proof.png) no-repeat top;
    margin-top:  -135px;
    padding-top: 161px;
}
.proof .row {}
.proof .left {
    float:  left;
    width: 50%;
}
.proof .left p {
    font-size: 22px;
    font-family: 'FiraSans-Light';
}
.proof .left p span {
    color: #ed1c24;
    font-family: 'FiraSans-Medium';
}
.proof .right:after {
	content: '';
	display: block;
	width: 166px;
	height: 374px;
	background: url(../images/arrow-1.png);
	position: absolute;
	right: -69px;
	bottom: -329px;
}
.proof .right {
    float:  left;
    width: 50%;
    position:  relative;
    padding-left: 114px;
}
.proof .right p {
    font-family: 'FiraSans-SemiBold';
    font-size:  22px;
    margin-bottom: 31px;
}

.action.i2 {
	padding-top: 218px;
	height: 998px;
	background: url(../images/action-1.png) no-repeat top;
	margin-top: -115px;
}

.who {
	height: 1197px;
	background: url(../images/who.jpg) no-repeat top;
	margin-top: -328px;
	position:  relative;
	padding-top: 368px;
}

.who .title {
    margin-bottom: 42px;
}
.who ul {
    padding-left: 48px;
}
.who ul li {
    font-family: 'FiraSans-Regular';
    font-size:  20px;
    position:  relative;
    padding-left: 41px;
    margin-bottom: 24px;
}

.who ul li:before {
    content: '';
    display: block;
    width: 48px;
    height: 48px;
    background: url(../images/li.png);
    position: absolute;
    left: 0;
    top: -9px;
}

.video {
    margin-top: -192px;
    padding-bottom: 56px;
}
.video-wrap {
    position:  relative;
}
.video img {
    max-width: 100%;
}
.video .play {
    display:  block;
    position:  absolute;
    left:  0;
    right:  0;
    top: 50%;
    width:  100px;
    height:  100px;
    background:  url(../images/play.png);
    margin:  0 auto;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.video .title {
	margin-bottom: 55px;
}
.what:after {
	content: '';
	display: block;
	width: 1442px;
	height: 2769px;
	background: url(../images/what-right.png);
	position: absolute;
	left: 611px;
	top: -1434px;
}
.what {
    padding-top: 68px;
    padding-bottom: 45px;
    position:  relative;
}
.what .title {
    margin-bottom: 55px;
}
.what-wrap {}
.what-item:last-of-type {
	margin: 0;
}
.what-item {
	width: 370px;
	height: 440px;
	padding: 226px 10px 10px 30px;
	float:  left;
	margin-right: 30px;
}
.what-item.i1 {
	background: url(../images/what-1.jpg);
}
.what-item.i2 {
    background: url(../images/what-2.jpg);
}
.what-item.i3 {
    background: url(../images/what-3.jpg);
}
.what-item p {
    font-size:  18px;
    color: #5d5b71;
    font-family: 'FiraSans-Regular', sans-serif;
}
.what-item h3:after {
	content: '';
	display: block;
	width: 65px;
	height: 16px;
	background: url(../images/what.png);
	position: absolute;
	left: -42px;
	bottom: 36px;
}
.what-item h3 {
    margin-bottom: 18px;
    position:  relative;
    font-size: 24px;
    padding-left: 40px;
}
.wait:before {
	content: '';
	display: block;
	width: 100%;
	height: 1596px;
	background: url(../images/bg-2.jpg)no-repeat top;
	position: absolute;
	left: 0;
	top: 0;
}
.wait {
    padding-top: 239px;
    padding-bottom: 97px;
    position:  relative;
}
.wait .title {
    margin-bottom: 51px;
}
.wait-wrap {}
.wait-item:nth-of-type(2n + 2){
	margin-right: 0;
}
.wait-item {
	width: 570px;
	height: 247px;
	background: url(../images/wait.png);
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
	position:  relative;
	padding: 37px 40px 10px;
}
.wait-item h3 {
    position: absolute;
    transform: rotate(-90deg);
    left: -56px;
    top: 100px;
    font-size: 24px;
    color: #36364b;
    font-family: 'FiraSans-Medium';
}
.wait-item h4 {
    font-size:  24px;
    text-transform:  uppercase;
    margin-bottom: 19px;
}
.wait-item p {
    font-family: 'FiraSans-Light';
    font-size: 17px;
}


.how {}
.how .title {
    margin-bottom: 50px;
}
.how-wrap {}
.how h3:after {
	content: '';
	display: block;
	width: 30px;
	height: 6px;
	background: url(../images/how.png);
	position: absolute;
	left: 0;
	bottom: 0;
}
.how h3 {
    font-size:  24px;
    position:  relative;
    padding-bottom: 20px;
    margin-bottom: 32px;
    text-transform:  uppercase;
}
.how ul {}
.how ul li:before {
    content: '';
    display: block;
    width: 48px;
    height: 48px;
    background: url(../images/li.png);
    position: absolute;
    left: -21px;
    top: -14px;
}
.how ul li {
    font-family: 'FiraSans-Light';
    font-size:  17px;
    position:  relative;
    padding-left: 20px;
    margin-bottom: 21px;
}
.how .left {
    width: 50%;
    float: left;
}
.how .right {
    width:  50%;
    float:  left;
    padding-left: 15px;
}

.action.i3 {
    padding-top: 161px;
}

#wrapper {
	overflow: hidden;
}


.price {
    padding-top: 19px;
    padding-bottom: 128px;
}
.price .title {
    margin-bottom: 37px;
}

.table table thead th:before {
	display: block;
	width: 100%;
	height: 8px;
	background: #f22327;
	position: absolute;
	left: 0;
	top: -8px;
}
.table table thead th {
    padding: 14px;
    text-align: center;
    font-size: 24px;
    background: transparent;
    font-weight: normal;
    border-bottom: 1px solid #f0f2f5;
    position: relative;
    color: #fff;
    font-weight: 700;
    text-transform:  uppercase;
    border: 0;
}
.table table thead th:first-child:before {
	display: none;
}
.table table thead th:first-child {
	text-align: left;
	min-width: 481px;
	border-top: 0;
	border-left: 0;
	padding-left: 30px;
	background: transparent;
	border-right: 0;
	font-size: 24px;
}
.table table thead th:first-child:after {
	display: block;
	width: 39px;
	height: 100%;
	background: transparent;
	position: absolute;
	right: -33px;
	top: 1px;
	border-bottom: 1px solid #f0f2f5;
}
.table table thead tr td {
    padding: 31px 28px;
    background: transparent;
    border-bottom: 1px solid #363650;
    background: #222233;
}

.table table thead tr td:first-child {
    font-size: 18px;
    border-left: 0;
    position: relative;
    padding-left: 29px;
    background: #222233;
    border-right: 0;
    font-family: 'FiraSans-Regular';
    min-width: 514px;
}
.table table thead tr td:first-child:after {
	display: block;
	width: 39px;
	height: 100%;
	background: transparent;
	position: absolute;
	right: -30px;
	top: 1px;
	border-bottom: 1px solid #f0f2f5;
}
.table table tbody tr td:first-child {
	border-left: 0;
	position: relative;
	padding-left: 29px;
	border-right: 0;
}
.table table tbody tr td.no-border {
	border: 0;
}
.table table tbody tr td.no-border:after {
	display: none !important;
}
.table table tbody tr td:first-child:after {
	display: block;
	width: 39px;
	height: 100%;
	background: transparent;
	position: absolute;
	right: -30px;
	top: 1px;
	border-bottom: 1px solid #f0f2f5;
}
.table table thead tr:nth-child(2) td+td {
    text-align: center;
    font-size: 24px;
}

.table table thead tr:nth-child(3) td+td {
    text-align: center;
    font-size: 20px;
    font-family: 'FiraSans-Medium';
}

.table table thead tr:nth-child(4) td+td {
    text-align: center;
    font-size: 18px;
    font-family: 'FiraSans-Light';
}

.table table tbody tr td {
    padding: 12px 28px;
    font-size: 18px;
    border-bottom: 1px solid #363650;
    font-weight: 400;
    background: #222233;
}
.table table tbody tr td.wave {
	position: relative;
	width: 200px;
	min-width: 200px;
}

.table table tbody tr.last td {
	border: 0;
	background: transparent;
	padding: 0;
}
.table table tbody tr.last td:after {
	display: none;
}
.table table tbody tr td+td {
    padding: 10px;
    text-align: center;
    border-color: #363650;
}

.table table {
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 30px 0px;
    margin-left: -30px;
    margin-right: -30px;
}
.table table .button.shadow {
}
.table table .button.shadow:hover {
	box-shadow: none;
}
.table table .button {
    background: #ED1C24;
    color: #fff;
    font-size: 14px;
    width: 200px;
    display: block;
    height: 60px;
    line-height: 61px;
    margin: 0 auto;
    transition: all .5s;
    text-transform:  uppercase;
}
.table table .button:hover {
	background: #C70D14;
}
.table table .button:active {
	background: #C70D14;
}
.testimonials:before {
	content: '';
	display: block;
	width: 100%;
	height: 1388px;
	background: url(../images/testimonials.jpg) no-repeat top;
	position: absolute;
	left: 0;
	top: -100px;
}
.testimonials {
    padding-top: 119px;
    padding-bottom: 60px;
    position:  relative;
}
.testimonials .title {
    margin-bottom: 57px;
}
.testimonials-wrap {}
.testimonials-item {
    background:  #222233;
    padding: 45px 40px 49px;
}
.testimonials-item .img {
    width:  78px;
    float:  left;
}
.testimonials-item .img img {}
.testimonials-item .right {
    float:  left;
    width:  calc(100% - 78px);
    padding-left: 35px;
}
.testimonials-item .name:before {
	content: '';
	display: block;
	width: 33px;
	height: 26px;
	background: url(../images/quote.png);
	position: absolute;
	left: 0;
	top: 0;
}
.testimonials-item .name {
    font-family: 'FiraSans-SemiBold';
    font-size:  20px;
    position:  relative;
    padding-left: 50px;
    margin-bottom: 20px;
}
.testimonials-item p {
    line-height: 1.6;
    font-family: 'FiraSans-Italic';
}

.owl-prev:hover, .owl-next:hover {
	opacity: .7;
}
.owl-prev {
    position: absolute;
    left: 31px;
    top: 50%;
    background: url(../images/prev.png) no-repeat center;
    width: 33px;
    height: 27px;
    text-indent: -99999px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
}

.owl-next {
    position: absolute;
    right: 31px;
    top: 50%;
    background: url(../images/next.png) no-repeat center;
    width: 33px;
    height: 27px;
    text-indent: -99999px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.owl-carousel {
	padding: 0 98px;
}

.owl-dots {
	text-align: center;
	padding-top: 62px;
}

.owl-dot {
	display: inline-block;
	vertical-align: top;
	width: 15px;
	height: 15px;
	background: none;
	border: 2px solid #35354A;
	margin: 0 5px;
}

.owl-dot:hover, .owl-dot.active {
	border-color: #ED1C24;
	background: #ED1C24;
}

.place {
	height: 1080px;
	background: url(../images/place.jpg) no-repeat top;
	position:  relative;
	padding-top: 71px;
	margin-top: -24px;
}
.place .title {
    margin-bottom: 235px;
}
.place .container {
	z-index: 99;
}
.place-wrap {
    float:  right;
    min-width: 471px;
}
.place-item{
    display:  flex;
    align-items:  center;
    margin-bottom: 15px;
}
.place-item .img {}
.place-item p {
    font-family: 'FiraSans-Regular',sans-serif;
    font-size:  20px;
    margin-left: 15px;
}
.action.i4 .action-wrap {
	margin-top: -293px;
}
.action.i4:before {
	z-index: 99;
}
.action.i4 {
    background:  url(../images/bg-3.jpg) repeat-y top;
    /* margin-top: -289px; */
    padding-bottom: 300px;
}
.action.i4 .container {
    z-index: 99;
}

.shema .container {
	z-index: 999;
}
.shema {
    padding-bottom: 120px;
    text-align:  center;
    background: url(../images/shema-1.png) no-repeat bottom;
    height: 988px;
    position:  relative;
    z-index: 99;
    margin-bottom: -130px;
    padding-top: 140px;
    margin-top: -180px;
}
.shema-wrap {
	position: relative;
}
.shema .title {
	margin-bottom: 50px;
	text-align: left;
}
.shema .iframe {
    text-align: center;
    display:  inline-block;
}
.shema iframe {
    display: inline-block;
    margin-bottom: 25px;
}
.shema .iframe img {
	display: block;
	margin:0 auto;
}

.buy-mobile {
	display: none;
}

.partners .owl-dots {
	display: none !important;
}
.partners .container {
	z-index: 999999;
}
.partners {
    position:  relative;
    padding-top: 208px;
    padding-bottom: 122px;
    margin-top: -126px;
    /* z-index: 9; */
    background: url(../images/partner.png) no-repeat top;
    height: 712px;
}
.partners-wrap {}
.partners .title {
    margin-bottom: 54px;
}
.partners img {
	width: auto !important;
	max-width: 100%;
	margin: 0 auto;
}


footer:after {
	display: block;
	content: '';
	width: 1301px;
	height: 1868px;
	background: url(../images/footer.png);
	position: absolute;
	left: 700px;
	top: -800px;
	z-index: 0;
}
footer {
    color:  #fff;
    padding-top: 71px;
    background: url(../images/footer.jpg) no-repeat top;
    margin-top: -154px;
    position:  relative;
    z-index: 9;
    padding-top: 195px;
    padding-bottom: 150px;
}
.footer-left {
    float:  left;
    margin-top: 7px;
}
.footer-left p {
    color: #fff;
    margin-bottom: 26px;
    font-family: 'FiraSans-Light';
}
.footer-left p:last-of-type {
	margin-bottom: 0;
}
.footer-right {
    float:  right;
    text-align:  right;
    margin-top: 6px;
}
.footer-right .phone {
    font-size: 20px;
    color: #fff;
    font-family: 'FiraSans-SemiBold';
}
.footer-right p {
    color: #fff;
    font-size: 17px;
    font-family: 'FiraSans-Light';
}





.thx-wrap {
    padding-left: 467px;
}
.thx header {
    margin-bottom: 148px;
}
.thx h1 {
    font-size: 62px;
    text-transform:  uppercase;
    margin-bottom: 29px;
}
.thx h2 {
    font-size: 54px;
    margin-bottom: 43px;
    font-family: 'FiraSans-Light';
}
.thx .soc {
    display:  flex;
    align-items:  center;
    margin-bottom: 62px;
}
.thx .soc p {
    font-size:  18px;
    margin-right: 27px;
    font-family: 'FiraSans-Light';
}
.thx .soc-wrap {
    display:  flex;
    align-items:  center;
}
.soc-wrap a:hover {
	opacity: .8;
}
.soc-wrap a {
    float:  left;
    margin-right: 33px;
    transition: all .5s;
}
.thx .btn {
    width: 310px;
}


input[type='text']{
    display:  block;
    width: 100%;
    height: 88px;
    outline:  none;
    border:  0;
    background:  #fff;
    padding-left: 30px;
    border-bottom: 1px solid #DBDBDB;
    font-family: 'FiraSans-Regular';
    color: #000;
    font-size: 17px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(128, 128, 128, 0.4);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(128, 128, 128, 0.4);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(128, 128, 128, 0.4);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(128, 128, 128, 0.4);
}

.grInp {
    color: rgba(128, 128, 128, 0.4) !important;
}

.blInp {
    color: black !important;
}

input[name='name']{
	background: #fff url(../images/input-name.png) no-repeat left;
}

input[name='phone']{
	background: #fff url(../images/input-phone.png) no-repeat left;
}

input[name='email']{
	background: #fff url(../images/input-email.png) no-repeat left;
}

.remodal {
	max-width: 435px;
	padding: 40px;
	text-align:  left;
}
.remodal h2 {
	font-size: 40px;
}
.remodal h3 {
	font-size: 18px;
	margin-bottom: 35px;
	font-family: 'FiraSans-Light';
}

.remodal .btn {
	margin-top: 35px;
}

.main-mobile {
	display: none;
}

@media screen and (max-width: 1170px){
	.container {
		width: 95%;
	}

	img {
		max-width: 100%;
	}

	br {
		display: none;
	}

	.main-wrap {
		padding-left: 295px;
	}

	.action .left {
	    float: none;
		width: 100%;
		padding: 0;
		margin-bottom: 45px;
	}

	.action .right {
		float: none;
		margin: 0 auto;
	}

	.action h2:after {
		left: 0;
	}

	.dream-wrap {
		padding: 0 40px;
	}

	.dream-wrap p {
		float:  none;
		display: inline-block;
		vertical-align: top;
		width: 49%;
	}

	.dream br {
		display: initial;
	}

	.why {
	    background: url(../images/bg-3.jpg) repeat-y top;
		padding: 40px 0;
		margin: 0;
		height: auto;
	}

	.why-item {
		/*float: none;
		display: inline-block;
		vertical-align: top;
		margin: 0 10px 15px !important;
		text-align: left;*/
		width: 100%;
		border: 5px solid #ed1c24;
		background: none;
		padding: 30px;
		margin: 0 0 35px !important;
		height: auto;
		min-height: 247px;
		text-align: left;
	}

	.why-wrap {
		text-align: center;
	}

	.action:before {
		display: none;
	}

	.action.i2 {
	    background: url(../images/bg-3.jpg) repeat-y top;
		padding: 40px 0;
		margin: 0;
		height: auto;
	}

	.proof {
		height: auto;
		padding: 40px 0;
		background: url(../images/proof-mobile.jpg) no-repeat bottom;
		margin: 0;
	}

	.proof .left {
		width: 100%;
		float: none;
		margin: 0 0 35px;
	}

	.proof .right {
		padding: 0;
		float: none;
		width: 100%;
	}

	.proof .right:after {
		display: none;
	}

	.who ul {
		padding: 0;
		max-width: 500px;
	}

	.what-wrap {
		text-align: center;
	}

	.what-item {
		text-align: left;
		float: none;
		margin: 0 10px 10px !important;
		display: inline-block;
		vertical-align: top;
	}

	.wait:before {
		display: none;
	}

	.wait {
		padding: 40px 0;
		background: url(../images/bg-3.jpg) repeat-y top;
	}

	.wait-item {
		width: 100%;
		border: 5px solid #ed1c24;
		background: none;
		padding: 30px;
		margin: 0 0 35px !important;
		height: auto;
		min-height: 247px;
	}

	.wait-item h3 {
		background: #1b1b27;
		padding: 0 10px;
		left: -71px;
	}

	.why h5  {
		background: #1b1b27;
		padding: 0 10px;
		left: -82px;
	}

	.how .left {
		width: 100%;
		margin-bottom: 35px;
	}

	.how .right {
		width: 100%;
		padding: 0;
	}

	.action.i3 {
		padding: 40px 0;
	}

	.action .right:after {
		display: none;
	}

	.table table {
		margin: 0;
		border-spacing: 1px 0;
	}

	.table table thead th:first-child {
		min-width: 345px;
	}

	.table table thead tr td:first-child {
		min-width: 0;
	}

	.testimonials:before {
		display: none;
	}

	.testimonials {
		padding: 40px 0;
		background: url(../images/bg-3.jpg) repeat-y top;
	}

	.testimonials .owl-nav {
		display: none !important;
	}

	.owl-carousel {
		padding: 0;
	}


	.action.i4 {
		padding-bottom: 40px;
	}

	.shema{
		padding: 40px 0;
		background: none;
		height: auto;
		margin: 0;
	}

	.partners {
		padding: 40px 0;
		background: none;
		height: auto;
		margin: 0;
	}

	footer {
		height: auto;
		background-size: cover;
		text-align: center;
		margin: 0;
		padding-top: 130px;
		padding-bottom: 40px;
		padding: 40px 0;
		background: url(../images/bg-3.jpg) repeat-y top;
	}

	.footer-left {
		float: none;
		max-width: 100%;
		margin: 0 0 25px;
	}

	.footer-right {
		float: none;
		display: inline-block;
		text-align: center;
	}

	#map {
		height: 300px;
	}

	.place-wrap {
		min-width: 0;
	}

	.main + .action {
		padding-top: 0;
	}

	.partners .owl-dots {
		display: block !important;
	}

	.partners .owl-nav {
		display: none !important;
	}
}

@media screen and (max-width: 1023px){
	.click-m {
		display: block;
		margin-top: -48px;
	}

	.header-info .vis {
		position: absolute;
		display: block;
		background: #000;
		left: 0;
		top: 27px;
		padding: 5px;
		border: 1px solid #f8313e;
		width: 260px;
		z-index: 99999;
	}

	.header-info div {
		display: none;
	}

	.header-info:before {
		display: none !important;
	}

	.header-info {
		padding: 0;
		margin-right: 25px;
	}

	.main-wrap {
		padding: 0;
	}

	.main {
		position: relative;
		height: auto;
		padding-bottom: 50px;
	}

	.main:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.52);
		position: absolute;
		left: 0;
		top: 0;
	}

	.main-wrap h1 {
		margin: 0;
	}

	.main-wrap h2 {
		padding: 0;
	}

	.main-wrap ul {
		padding: 0;
	}

	.title {
		font-size: 42px;
	}

	.action h2 {
		font-size: 65px;
	}

	.what {
		padding-top: 0;
	}

	.table table .button {
		width: 187px;
		font-size: 14px;
	}

	.table table thead th:first-child {
		min-width: 0;
	}

	.table table tbody tr td.wave {
		width: auto;
		min-width: 0;
	}

	.price {
		padding-bottom: 40px;
	}

	.shema iframe {
		display: none;
	}

	.buy-mobile {
		display: block;
		width: 100%;
		margin: 0 auto 20px;
		max-width: 300px;
	}

	.thx-wrap {
		padding: 0;
	}

	.thx header {
		margin-bottom: 40px;
	}

	.main.thx {
		background: url(../images/main.jpg) no-repeat top;
	    background-position: -300px top;
	}

	.main.thx:before {
		display: block;
	}

	.thx .soc-wrap {
		min-width: 160px;
	}

	.thx h2 {
		font-size: 30px;
	}

	.thx .btn {
		width: 100%;
		max-width: 300px;
	}
}

@media screen and (max-width: 767px){
	.main-mobile {
		display: block;
		position:  absolute;
		left: -95px;
		top: 54px;
	}

	.thx h1 {
		font-size: 44px;
	}

	.main {
		background: none;
	}

	.main-wrap .box{
	    width: 424px;
	    float: right;
	    margin-right: -5%;
	    margin-bottom: 35px;
	}

	.main-wrap .box .name {
		font-size: 60px;
		margin-bottom: 10px;
	}

	.main-wrap .box:after {
		width: 24px;
		height: 48px;
		background: url(../images/arrow-mobile.png);
		right: 63px;
		bottom: -30px;
	}

	.main-wrap h1 {
		clear: both;
		position: relative;
		z-index: 9;
		font-size: 150px;
		margin-bottom: 35px;
	}

	.main-wrap h2 {
		position: relative;
		z-index: 9;
	}

	.action h2 {
		line-height: 1;
		font-size: 50px;
	}

	.action .right {
		width: 100%;
		height: auto;
		padding: 30px;
	}

	.action .right:before {
		display: none;
	}

	.timer-item .number {
		font-size: 41px;
		width: 50px;
	}

	.timer-item:after{
		font-size: 43px;
	}

	.timer-item:after {
		margin-bottom: 30px;
		font-size: 30px;
	}

	.dream-wrap p {
		width: 100%;
	}


	.table table thead th {
		font-size: 16px;
	}

	.table table thead th:first-child {
		font-size: 18px;
	}

		.table table .button {
		width: 60px;
		height: 60px;
		text-indent: -9999px;
	}

	.table table thead th {
		padding: 5px;
	}

	.table table thead th {
		font-size: 12px;
		padding: 15px 0;
	}

	.table table thead tr:nth-child(2) td+td {
		font-size: 16px;
	}

	.table table thead tr:nth-child(3) td+td {
		font-size: 15px;
	}

	.table table thead tr:nth-child(4) td+td {
		font-size: 14px;
	}

	.table table thead tr td {
		padding: 5px;
	}

	.table table thead tr td:first-child {
		font-size: 12px;
	}

	.table table tbody tr td {
		font-size: 12px;

	}

	.table table .button {
		background: #FF4242 url(../images/next.png) no-repeat center;
	}

	.testimonials-item .img {
		float: none;
		margin: 0 auto 35px;
	}

	.testimonials-item .right {
		float: none;
		width: 100%;
		padding: 0;
	}
}

@media screen and (max-width: 479px){
	.header-info {
		margin-right: 0;
	}

	.header-right .phone{
		font-size: 18px;
	}

	.header-right p{
		font-size: 13px;
	}

	.header-info {
		width: 55px;
	}

	.click-m {
		margin-top: -26px;
	}

	.main-wrap .box {
		width: 295px;
	}

	.main-wrap .box .name{
		font-size: 40px;
	}

	.main-wrap .box p {
		font-size: 19px;
	}

	.main-wrap h1 {
		font-size: 90px;
		text-align: right;
	}

	.action h2 {
		font-size: 38px;
		line-height: 1.2;
	}

	.action h3 {
		font-size: 25px;
		margin-bottom: 25px;
	}

	.action .right {
		padding: 30px 15px;
	}

	.title {
		font-size: 32px;
	}

	.dream-wrap {
		padding-right: 0;
	}

	.why h3 {
		font-size: 20px;
	}

	.who {
		background-position: -908px top;
	}

	.video {
		margin-top: -150px;
	}

	.what-item {
	    margin: 0 0 15px !important;
		width: 300px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.table table thead th:first-child, .table table thead tr td:first-child, .table table tbody tr td:first-child {
		padding-left: 0;
	}

	.testimonials-item {
		padding: 30px 15px;
	}

	.place {
	    background-position: -556px top;
	}
}
