.table{
  margin: 0 auto;
  table-layout: fixed;
  width: 800px;
  height: 500px;
}
.container{
}
tr{
  height: 100px;
}
th, td{
  background-color: #cccccc;
  border: 9px solid #3a3e41;
  box-sizing: border-box;
}
.black{
  background-color: #000000;
}
.blue{
  background-color: #0d7fbe;
}
.red{
  background-color: #f50f0f;
}
.yellow{
  background-color: #fae317;
}
