.container{
  width: 1200px;
  margin: 0 auto;
  padding: 25px;
  background-color: #374765;
}
.pricing-plan {
  font-family: 'Arimo', sans-serif;
  color: #858585;
  background-color: #fafafa;
  text-align: center;
}
th, td{
  border-top: 2px solid #d8d8d8;
  vertical-align: middle;
  width: 157px;
  height: 112px;
  text-transform: uppercase;
  line-height: 22px;
  font-weight: 600;
}
th, td:first-child{
  border-top: 0;
}

th:nth-child(2n){
  background-color: #e4e4e4;
}
td:nth-child(2n){
  background-color: #e4e4e4;
}

.pricing-plan-tab-tittle-list{
  width: 198px;
}

.pricing-plan-tab{
  border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
  width: 100%;
}
.fas, .far{
  font-size: 20px;
  display: block;


}
.header-pricing-plan-top{
  font-size: 14px;
  display: block;
  color: #515151;
}
.header-pricing-plan-botom{
  font-size: 20px;
  color: #515151;
}
span{
  color: #515151;

}

.header-pricing-plan-option{
  font-size: 16px;
  color: #515151;

}
.header-pricing-plan-tittle{
  width: 198px;
  /*height: 166px;*/
  font-size: 24px;
  color: white;
  /*padding-top: 18px;*/
}
.header-pricing-plan-tittle-line-height{
  line-height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.header-pricing-plan-standart{
  background-color: #8ac42d;
}
.header-pricing-plan-ultimate{
  background-color: #f04955;
}
.header-pricing-plan-premium{
  background-color: #1a817d;
}
.pricing-plan-btn{
  justify-content: center;
  align-items: center;
  display: flex;

  box-sizing: border-box;
  border-radius: 5px;
  width: 144px;
  height: 41px;
  color: white;
  font-size: 16px;
  font-weight: 200;

  margin: 0 auto;
  padding: 10px 10px;
  text-transform: uppercase;
  text-decoration: none;
  flex: auto;
  background-color: #515151;
  box-shadow: 0 -7px #3e3e3e inset;
  margin-bottom: 17px;
}
.pricing-plan-dollar{
  font-size: 36px;
  font-weight: 600;
  color: white;
}
.pricing-plan-cent{
  font-size: 18px;
  font-weight: 600;
  position: relative;
  top: -12px;
  color: white;
}
.pricing-plan-per-month{
  color: white;
  font-size: 14px;
}

.pricing-plan-btn:hover{
  background-color: #747474;
  box-shadow: 0 -7px #858585 inset;
}
