.container {
  width: 1190px;
  margin: 0 auto;
}
.navbar-content {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  align-items: center;
}

.navbar {
  background-color:  rgba(73, 71, 63, 0.6);
  padding-top: 25px;
  padding-bottom: 28px;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  z-index: 5;

}
.menu-top-item {
  display: inline-block;
}

.menu-top-link::after {
  content: '';
  width: 100%;
  border-top: 2px #18cfab solid;
  position: absolute;
  top: 68px;
  left: 0;
  opacity: 0;
}

.menu-top-link:hover::after {
  opacity: 1;
}

.menu-top-link {
  margin-right: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color:  #b8b8b8;
  font-size: 13px;
  font-weight: 700;
  display: inline-block;
  position: relative;
}
.menu-top-link:hover {
  color:  #18cfab;
}
.menu-top-left{
  display: flex;
  align-items: center;
}
.navbar-search {
  display: none;
}
.navbar-logo-link {
  text-decoration: none;
}


.navbar-logo-img {
  width: 58px;
  height: 67px;
  font-family: 'Montserrat', sans-serif;
  color:  #ffffff;
  font-size: 40px;
  font-weight: 700;
  display: block;
  text-align: center;

}
/* делаем гексагон*/
.hexagon {
  position: relative;
  width: 60px;
  height: 34.64px;
  background-color: #18cfab;
  margin: 17.32px 0;
  display: inline-block;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 17.32px solid #18cfab;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 17.32px solid #18cfab;
}
.navbar-logo-text{
  flex-wrap: wrap;
  font-size: 32px;
  color:  #ffffff;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
}
.navbar-logo{
  text-decoration: none;
  max-width: 320px;
}

.navbar-logo-text-green {
  color: #18cfab;
  font-weight: 700;
}
/*----------------------------------------*/
/* search */
/* Сброс стилей для поля ввода в браузерах webkit */

input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; /* Удаляем иконку поиска и сброса */
}

/* Поле ввода строки поиска */
.navbar-search{
  display: inline-block;
  position: relative;

}
input[type=search] {
  background: url(../img/search-icon.png) no-repeat 9px center;
  border: solid 1px transparent;
  padding: 9px 10px 9px 32px;
  width: 55px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #6dcff6;

  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

/* Заполнитель */
input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

/* Демо B */
#demo-b input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
#demo-b input[type=search]:hover {
  background-color: #fff;
}
#demo-b input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#demo-b input:-moz-placeholder {
  color: transparent;
}
#demo-b input::-webkit-input-placeholder {
  color: transparent;
}






/*============================================*/

.main-header{
  font-family: 'Montserrat', sans-serif;
  background: url("../img/header.png") no-repeat center;
  background-size:cover;
  position: relative;
  display: block;
}
.main-header-top{
  color:  #ffffff;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;
  padding-top: 220px;
}
.main-header-top-green{

  color:  #18cfab;
}
.main-header-h2{
  color:  #ffffff;
  font-size: 79px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 37px;
}

.main-header-botem{
  color:  #d4d4d4;
  font-size: 34px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 146px;
}

.main-header-btn{
  display: flex;
  justify-content: center;
}

.green-btn{
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 220px;
  display: inline-block;
  width: 166px;
  height: 61px;
  text-decoration: none;
  background-color:  #18cfab;
  color:  #ffffff;
  border-radius: 4px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 26px;
  box-sizing: border-box;
  box-shadow: 0 4px #ffffff inset;
  transition: 0.7s;
}
.green-btn:hover{
  background-color: #39af87;
}

.bluy-btn{
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 220px;
  display: inline-block;
  width: 166px;
  height: 61px;

  border-top: white 3px;
  text-decoration: none;
  background-color:  #00ccf6;

  color:  #ffffff;
  border-radius: 4px;
  text-align: center;
  padding-top: 26px;
  box-sizing: border-box;
  margin-left: 61px;
  box-shadow: 0 4px #ffffff inset;
  transition: 0.7s;
}
.bluy-btn:hover{
  background-color: #00a7d1;
}

/*----------------------------*/
.square-icon{
  display: flex;
}
.square-box{
  width: 25%;
  height: 374px;
  display: inline-block;
  margin-bottom: 82px;
}
.square-box:nth-child(2n+1){
  background-color: #15252f;
  border-top: 7px #11d0ac solid;
}
.square-box:nth-child(2n){
  background-color: #11d0ac;
  border-top: 7px white solid;
}
.square-box-center{
  height: 235px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square-box-img-option{
  width: 58px;
  height: 97px;
  background-image: url("../img/Option.png");
  display: inline-block;
}
.square-box-img-costo{
  width: 93px;
  height: 75px;
  background-image: url("../img/costom.png");
  display: inline-block;
}
.square-box-img-suport{
  width: 60px;
  height: 96px;
  background-image: url("../img/suport.png");
  display: inline-block;
}
.square-box-img-device{
  width: 99px;
  height: 76px;
  background-image: url("../img/devaice.png");
  display: inline-block;
}
.square-box-tittle{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #18cfab;
  text-align: center;
  text-transform: uppercase;
}
.text-white{
  color: #ffffff;
}

/*************************************/
.services{
  text-align: center;
}
.services-tittle{
  font-family: 'Montserrat', sans-serif;
  color:  #4e4e4e;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 4px;
}

.block-line{
  display: inline-block;
  margin: 0 auto;

}
.block-line-green-1{
  border: none;
  background-color:  #18cfab;
  width: 76px;
  height: 2px;
  display: inline-block;
  margin-bottom: -6px;
}
.block-line-green-2{
  border: none;
  background-color:  #18cfab;
  width: 76px;
  height: 2px;
  margin-bottom: 70px;
  margin-left: 15px;
}

.services-block{
}

.services-menu-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 29px;

}

.services-menu{

  width: 192px;
  height: 72px;
  padding-top: 30px;
  box-sizing: border-box;
  border: 1px #ebebeb solid; /**/
}
.services-menu-list-link{
  text-decoration: none;
  color: #929393;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;


}
.services-menu:hover,
.services-menu-list-link:hover
{
  background-color: #18cfab;
  border: none;
}
.services-menu:hover a{
  color: #ffffff;
}


.active.services-menu{
  background-color: #18cfab;
}
.active a{
  color: #ffffff;
}

.active{
  position: relative;
}
.active.services-menu:after {
  content: '';
  position: absolute; /* Абсолютное позиционирование */
  left: 90px; bottom: -20px; /* Положение треугольника */
  border: 10px solid transparent; /* Прозрачные границы */
  border-top: 10px solid #18cfab; /* Добавляем треугольник */
}

.services-menu-select{
  display: none; /*пряче текст*/
  justify-content: center;
}
.services-menu-select.active{
  display: flex; /*при появлении свойства активно появляется текст*/

}

.services-menu-select-img{
  margin-right: 22px;
  border: #4C69BA;
  margin-bottom: 108px;

}
.services-img{
  width: 195px;
  height: 140px;
}
.services-menu-select-text{
  width: 925px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #777777;
  line-height: 23px;

}

/**************************************/

.buy-and-instal{
  text-align: center;
}
.buy-and-instal-img{
  background-image: url("../img/Buy_instal_fons.png");
  background-size:cover;
  font-family: 'Montserrat', sans-serif;
  padding-top: 130px;

  background-position: center;
  background-attachment: fixed;
}
.buy-and-instal-top{
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  color:  #18cfab;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.buy-and-instal-bottom-text{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;  /***/
  color:  #d8d8d8;
  margin-bottom: 78px;
}
.buy-and-instal-btn{
  margin-bottom: 126px;
}

/*******************************************/
.work{
  text-align: center;
  background-color: #f8fcfe;
  border-bottom: 2px #e2e2e2 solid;
  padding-top: 100px;
}

.work-menu{

  padding-top: 20px;
  padding-bottom: 25px;
  box-sizing: border-box;

  background-color: #ffffff;
  border: 1px #ebebeb solid;
  margin-bottom: 74px;
  position: relative;
}

.work-menu::before {
  content: '';
  width: 100%;
  border-top: 5px #18cfab solid;
  position: absolute;
  top: -5px;
  opacity: 0;
}

.work-menu-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.work-menu-list-link-all{
  text-decoration: none;
  color: #717171;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-left: 30px;
  margin-right: 30px;
}
.work-menu-list-link{
  text-decoration: none;
  color: #717171;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
}

.work-menu:hover a{
  color: #18cfab;
}
.work-menu:hover{
  cursor: pointer;
}
.work-menu:hover::before {
  opacity: 1;
}

.work-carusel{
  width: 1150px;
  margin: 0 auto;
  margin-bottom: 72px;

  word-spacing: -.36em;
  line-height: 0;
}
.work-carusel-img{
  display: inline-block;
  position: relative;

}
.work-img{
  width: 285px;
  height: 210px;
}
/*скрытый блок под работами*/

.work-carusel-back{
  position: absolute;
  top: 0;
  background-color: #fff;
  opacity: 0;
  transition: 0.7s;
}
.work-carusel-back:hover{
  opacity: 1;
}


.work-carusel-back-block{
  display: inline-block;
  width: 285px;
  /*height: 210px;*/
  word-spacing: normal;
  line-height: 0;
  padding-top: 43px;
  border-top: 3px solid #18cfab;
}
.work-carusel-back-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
}
.work-carusel-back-conection,
.work-carusel-back-serch{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #18cfab;
  border: 2px solid #18cfab;
  display: flex;
  align-items: center;
  justify-content: center;

}
.work-carusel-back-conection{
  margin-right: 5px;
  background-color: white;

}
.work-img-conection{
  width: 15px;
  height: 15px;
}
.work-img-serch{
  width: 12px;
  height: 11px;
}
.work-carusel-back-titlle{
  font-family: 'Montserrat', sans-serif;
  color:  #18cfab;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 23px;
}
.work-carusel-back-type{
  font-family: 'Montserrat', sans-serif;
  color:  #8a8a8a;
  font-size: 12px;/* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  margin-bottom: 62px;
  display: inline-block;
}


.hidden {
  display: none;
}


.work-btn{
  margin-bottom: 102px;
}






/**************************************************/
.news{
  text-align: center;
  padding-bottom: 132px;
}

.news-line-block{
  max-width: 2200px;
}

.news-block{
  display: inline-block;
  margin-right: 28px;
}

.news-tittle{
  margin-top: 84px;
  font-family: 'Montserrat', sans-serif;
  color:  #4e4e4e;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 4px;
}
.news-img{
  width: 263px;
  height: 208px;
  position: relative;
}
.news-date{
  background-color:  #203e38;
  width: 68px;
  height: 66px;
  padding-top: 8px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  transition: 1s;
}
.news-day, .news-month{
  font-family: 'Montserrat', sans-serif;
  color:  #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  display: block;
}
.news-block:hover .news-date{
  background-color:  #18cfab;
}
.news-block:hover .news-sub{
  color:  #18cfab;
}

.news-img1{
  background-image: url("../img/Layer 47.png");
}
.news-img2{
  background-image: url("../img/Layer 50.png");
}
.news-img3{
  background-image: url("../img/Layer 51.png");
}
.news-img4{
  background-image: url("../img/Layer 52.png");
}
.news-img5{
  background-image: url("../img/Layer 53.png");
}
.news-img6{
  background-image: url("../img/Layer 54.png");
}
.news-img7{
  background-image: url("../img/Layer 55.png");
}
.news-img8{
  background-image: url("../img/grafik_des.png");
}





.news-info{
  padding-top: 14px;
  padding-left: 13px;
  box-sizing: border-box;
  background-color: #f8fcfe;
  border: 1px solid #f0f1f2;
  width: 264px;
  margin-bottom: 45px;
  text-align: left;
}
.news-href{
  text-decoration: none;
}

.news-sub{
  font-family: 'Montserrat', sans-serif;
  color:  #717171;
  font-size: 18px;
  font-weight: 700;
  line-height: 14px;
  display: block;
  text-align: left;
  transition: 0.5s;
}



.news-autor{
  font-family: 'Montserrat', sans-serif;
  color:  #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  display: inline-block;
  margin-bottom: 6px;
  margin-right: 10px;
}
.news-green-line{
  color:  #777777;
  display: inline-block;
  margin-right: 10px;
}
.news-coments{
  font-family: 'Montserrat', sans-serif;
  color:  #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  display: inline-block;
}
/*******************************************/

.review{
  text-align: center;
  padding-top: 84px;
  padding-bottom: 100px;
  background-image: url("../img/review_fons.png");
  background-size: cover;

  background-position: center;
  background-attachment: fixed;
}

.review-tittle{
  font-family: 'Montserrat', sans-serif;
  color:  #ffffff;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 4px;
}
.review-quotes-block{
  display: flex;
  justify-content: center;
}
.review-quotes{
  width: 44px;
  height: 30px;
  background-image: url("../img/Forma 1.png");
  margin-bottom: 43px;

}
.review-text{
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color:  #d8d8d8;
  font-weight: 300;
  line-height: 25px;
  max-width: 1097px;
  margin-bottom: 43px;
}
.selected-review-block{
  font-family: 'Montserrat', sans-serif;
  color:  #18cfab;
  text-transform: uppercase;
}
.selected-review-name{
  font-size: 14px;
  line-height: 10px;
  padding-bottom: 15px;
  font-weight: 600;
}
.selected-review-position{
  font-size: 10px;
  padding-bottom: 27px;
}
.selected-review{
  display: flex;
  justify-content: center;
}
.selected-review-img-border{
  border: rgba(31, 218, 181, 0.2) 10px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.selected-review-img{
  border-radius: 50%;
  width: 144px;
  height: 144px;
  border: #18cfab 3px solid;
  box-sizing: border-box;
  background-position: center;
}
.review-img-1{
  background-image: url("../img/Foto1.png");
}
.review-img-2{
  background-image: url("../img/Foto2.png");
}
.review-img-3{
  background-image: url("../img/Foto3.png");
}
.review-img-4{
  background-image: url("../img/Foto4.png");
}
.review-img-5{
  background-image: url("../img/Foto5.png");
  background-size: 100%;
}
.review-img-6{
  background-image: url("../img/Foto6.png");
  background-size: 110%;
}

.gallry{
  text-align: center;
}
.gallry-tittle{
  margin-top: 84px;
  font-family: 'Montserrat', sans-serif;
  color:  #4e4e4e;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 4px;
}

/***********************************************/

.carousel{
  max-width: 460px;
  width:100%;
  margin: 0 auto;
}
.carousel-wrapper{
  position:relative;
  overflow: hidden;
}

.review-carusel-btn-left,
.review-carusel-btn-right{
  text-decoration: none;
  margin-top: 123px;
  padding-top: 4px;
  box-sizing: border-box;
  color: white;
  font-size: 20px;
}
.review-carusel-btn-left{
  float: left;
  width: 31px;
  height: 31px;
  border: #bbbbbb 2px solid;
}
.review-carusel-btn-right{
  float: right;
  width: 31px;
  height: 31px;
  border: #bbbbbb 2px solid;
}
.review-carusel-btn-right:hover,
.review-carusel-btn-left:hover{
  background-color: #11d0ac;
}


.carousel-items {
  width: 10000px; /* устанавливаем большую ширину для набора элементов */
  position: relative; /* позиционируем блок относительно основной области карусели */
}
.carousel-block {
  float: left; /* выстраиваем все элементы карусели в ряд */
  width: 60px; /* задаём ширину каждого элемента */
  padding: 10px 10px 10px 0; /* делаем оступы, чтобы элементы не сливались */
  margin-left: 15px;
  margin-right: 15px;
}

.foto-carusel-img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: #18cfab 2px solid;
  box-sizing: border-box;
  background-position: center;
  background-size: 120%;
}
.foto-carusel-img-border{
  border: rgba(31, 218, 181, 0.2) 5px solid;
  border-radius: 50%;
  margin-top: 100px;
}
.inaction{
  margin-top: -15px;
}
.review-carusel-btn{
}


/******************************************/

.gallry-img{
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 67px;
}
.sizer1{
  width: 370px;
}
.item-masonry{
  position: relative;
}
.item-masonry img{
  width: 100%;
  height: auto;
  display: block;
  margin: 10px;
}
.cover-item-gallery{
  background-color: #000000;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  display: none;
  margin: 10px;
}
.cover-item-gallery a{
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 25%;
  box-sizing: border-box;
}
.fas-btn{
  position: absolute;
  display: none;
  top: 100px;
  left: 145px;
}
.fas{
  background-color: #0cbad6;
  color: white;
  border: 7px #0cbad6 solid;
}
.hidden {
  display: none;
}
.hidd {
  display: none;
}
.gallry-btn{
  margin-bottom: 82px;
}

/********************************************/

.copyright{
  text-align: center;
  background-color: #1c323d;
}
.copyright-text{
  font-family: 'Montserrat', sans-serif;
  color:  #9c9fa0;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  display: inline-block;
  margin-top: 47px;
  margin-bottom: 47px;
}
.copyright-green{
  color:  #169281;
}



























